{% extends "tiendaweb/baseHome.html" %}

{% block title %}Edicion Herramienta{% endblock %}

{% block content %}

{% load static %}

{% load humanize %}

<div class="container1 mt-5">
        <div class="row" style="display: flex; justify-content: flex-start;">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <a href="{% url 'bodeguero' %}" class="btn btn-secondary mb-3">← Volver al inicio</a>
            <img src="{{ herramienta.imagen.url }}" alt="Imagen de Herramienta" class="card-img-top">
            <h2>Stock de {{ herramienta.nombre }}</h2>
            <p>Stock disponible: {{ herramienta.cantidad }} unidades</p>
            <p>Precio: ${{ herramienta.precio }}</p>
            <form action="{% url 'aumentar_stock' herramienta.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Aumentar Stock</button>
            </form>
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: flex-end;">
            <h2>Editar Herramienta</h2>
            <form action="{% url 'editar_herramienta' herramienta.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" value="{{ herramienta.nombre }}" required><br><br>

                <label for="precio">Precio:</label>
                <input type="number" name="precio" value="{{ herramienta.precio }}" step="0.01" required><br><br>

                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" value="{{ herramienta.cantidad }}" required><br><br>

                <label for="imagen">Imagen:</label>
                <input type="file" name="imagen"><br>
                {% if herramienta.imagen %}
                    <p>Imagen actual: <img src="{{ herramienta.imagen.url }}" width="120"></p>
                {% endif %}
                </select>
                <button type="submit">Guardar Cambios</button>
            </form>
            
        </div>
        <ul>
    </div>

{% endblock %}