<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Pagar</title>
</head>
<body>
    <h1>Pago con Mercado Pago</h1>
    <div class="cho-container"></div>

    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script>
        const mp = new MercadoPago("{{ PUBLIC_KEY }}", {
            locale: 'es-CL'
        });

        mp.checkout({
            preference: {
                id: "{{ preference_id }}"
            },
            render: {
                container: '.cho-container',
                label: 'Pagar',
            }
        });
    </script>
</body>
</html>
