{% extends "tiendaweb/base.html" %}

{% block title %} Detalle - {{ herramienta.nombre }}{% endblock %}

{% block content %}

{% load static %}

{% load humanize %}

    <link rel="stylesheet" href="{% static 'tiendaWeb/css/estilodetalle.css' %}">

<div class="container mt-5">
  <a href="{% url 'catalogo' %}" class="btn mb-4 btnvolver">
    ← Ir a catálogo
  </a>

  <div class="card shadow-sm detalle-card">
    {% if herramienta.imagen %}
      <img src="{{ herramienta.imagen.url }}" class="card-img-top" alt="Imagen de la herramienta">
    {% else %}
      <div class="no-image-placeholder d-flex justify-content-center align-items-center">
        <p class="text-muted">Sin Imagen Disponible</p>
      </div>
    {% endif %}

    <div class="card-body">
      <h3 class="card-title mb-3">{{ herramienta.nombre }}</h3>

      <p class="precio fw-bold mb-3">$ {{ herramienta.precio|intcomma }}</p>

      <p><strong>Descripción:</strong> {{ herramienta.descripcion }}</p>

      <p><strong>Categoría:</strong> {{ herramienta.id_categoria.categoria }}</p>

      <div class="mt-4 d-flex justify-content-center align-items-center">
        {% if herramienta.cantidad > 0 %}
          {% if user.is_authenticated %}
            <a href="{% url 'agregar_al_carrito' herramienta.id %}" class="btn btn-lg rounded-pill px-5 detalle-btn">
              Añadir al Carro
            </a>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-lg rounded-pill px-5 detalle-btn">
              Inicia Sesión para Añadir al Carro
            </a>
          {% endif %}
        {% else %}
          <h5 class="text-danger me-3">No hay stock suficiente</h5>
          <a href="{% url 'catalogo' %}" class="btn btn-lg rounded-pill px-5 detalle-btn">
            Seguir Comprando
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

