{% extends "tiendaweb/base.html" %}

{% block title %}FerreMas{% endblock %}

{% block content %}

  <h1>CATALOGO</h1>
     <div class="catalogo">
        <div class="container1 mt-5">
            <div class="row">
            {% for herramienta in herramientas %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="card h-100">
                    {% if herramienta.imagen %}
                        <img src="{{ herramienta.imagen.url }}" alt="Imagen de Comic" class="card-img-top">
                     {% else %}
                        <p>Sin Imagen Disponible</p>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ herramienta.nombre }}</h5>
                        <p class="card-text">${{herramienta.precio_clp}}</p>
                        <a href="{%url 'herramienta_detalles' herramienta.id %}" class="btn btn-primary mt-auto">Ver más</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</body>

 {% endblock %}